.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .2s ease;
}

/* декоративная стрелка для ссылки */
.header__link:after {
  content: ' \2192';
}

.header__link:hover {
  opacity: 0.5;
}
